<p class="copyright">
  &copy; Andrew Dmitriev, <span data-copyright-date>2024</span>
</p>

<section class="footer-badges">
  <h3 class="visually-hidden">Badges</h3>

  <a href="humans.txt">
    <img src="img/humanstxt.gif" width="88" height="31"
         loading="lazy" alt="humans.txt badge">
    Made by human
  </a>

  <a href="LICENSE.txt">
    <img src="img/license.svg" width="125" height="28"
         loading="lazy" alt="GitHub License">
  </a>

  <img src="img/html5-badge-h-css3-device-performance-semantics.png" width="229" height="64"
       alt="HTML5 badge" loading="lazy">
</section>

<template id="js-cookieDialogTemplate">
  <dialog id="js-cookieDialog">
    <p>
      This website uses cookies to improve its performance and user experience. By continuing, you agree to their
      use.
    </p>
    <button id="js-cookieCloseBtn">Accept</button>
  </dialog>
</template>
