<h1 class="visually-hidden"><%= h1 %></h1>
<p>
  This is the content of header. It contains information about various topics and provides insights into different subjects. The article is well-structured and easy to read, making it accessible to a wide audience.
</p>
<div class="search"></div>
